.service {
  width: 30rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @media screen and (max-width: 720px) {
    text-align: center;
    width: 23rem;
    max-width: 35rem;
    margin: 0.75rem;
  }
  @media screen and (min-width: 720px) {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &-icon {
    padding: 2rem 0;
  }

  &-heading {
    font-weight: 300;
    padding: 0.5rem;
    color: hsl(233, 26%, 24%);
  }
  &-content {
    padding: 2rem 0;
    font-size: 1.54rem;

    line-height: 1.5;
    color: hsl(233, 8%, 62%);
  }
}
